<h2> About Us </h2>

<h2> Spring 2018 .NET Boot Campers </h2>

<p> Explore Boot Camp options: https://maxtrain.com/career/ </p>
<h2> Instructor: Greg Doud </h2>
<p> Link to Greg's Github: </p>	

	<p> https://github.com/gpdoud/ </p>

<h2> Purchase Request System </h2>

<h3> Github links: </h3>

	<p> Backend: https://github.com/tangalicious/PRSRepos </p>
	<p> Frontend: https://github.com/tangalicious/PRSAngular </p>


<h3> Designed and developed by: Cong Cong Tang (Chris) </h3>

<p> This front end was developed in Angular </p>
<p> This website's backend was developed in C# along with Entity Framework and MVC </p>
<p> The database is stored in SQL with code-first migrations</p>
<p> Copyright 2018 </p>