<div id="component">
	<div id="pagetitle">
		<span> {{ pagetitle }} </span>
		</div>
		<div id="content">
			<table class="table table-sm" *ngIf="user">
				<tr><th>ID</th><td> {{ user.ID }} </td></tr>
				<tr><th>Name</th><td> {{user.FirstName}}{{ user.LastName }} </td></tr>
				<tr><th>User Name</th><td> {{ user.UserName }}</td></tr>
				<tr><th>Phone</th><td>{{ user.Phone }}</td></tr>
				<tr><th>Email</th><td>{{ user.Email }}</td></tr>
				<tr><th>Active</th><td>{{ user.Active }}</td></tr>
				<tr><th>Reviewer</th><td>{{ user.IsReviewer }}</td></tr>
				<tr><th>Admin?</th><td>{{ user.IsAdmin }}</td></tr>		
		</table>
		<a routerLink="/users/edit/{{user.ID}}" class="btn btn-warning">Edit</a> 
		<button (click)="remove()" class= "btn btn-danger">Delete</button>
	</div>
</div>
