<div id="component">
  <div id="pagetitle">
    <span>{{ pagetitle }}</span> | <a routerLink="/products/create">Create New</a>
  </div>
  <div id="content">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>PartNumber</th>
          <th>Price</th>
          <th>Unit</th>
          <th>Vendor</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.ID }}</td>
          <td>{{ product.Name }}</td>
          <td>{{ product.PartNumber }}</td>
          <td>{{ product.Price | currency }}</td>
          <td>{{ product.Unit }}</td>
         <td> {{ product.Vendor.Name }} </td>
          <td>
            <a routerLink="/products/detail/{{product.ID}}">Detail</a> |
            <a routerLink="/products/edit/{{product.ID}}">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>