<div id="component">
		<div id="pagetitle">
			<span> {{ pagetitle }} </span>
		</div>
		<div id="content">
			<table class="table table-sm" *ngIf="product">
		<tr><td>ID</td><td>{{product.ID}}</td></tr>
		<tr><td>VendorID</td><td>{{product.VendorID}}</td></tr>
		<tr><td>PartNumber</td><td>{{product.PartNumber}}</td></tr>
		<tr><td>Name</td><td>{{product.Name}}</td></tr>
		<tr><td>Price</td><td>{{product.Price}}</td></tr>
		<tr><td>Unit</td><td>{{product.Unit}}</td></tr>
		<tr><td>Photopath</td><td>{{product.Photopath}}</td></tr>
		<tr><td>Active</td><td>{{product.Active}}</td></tr>
		</table>
		<a routerLink="/products/edit/{{product.ID}}" class="btn btn-warning">Edit</a> 
		<button (click)="remove()" class= "btn btn-danger">Delete</button>
	</div>
</div>
