<div id="component">
		<div id="pagetitle">
			<h2><span> {{ pagetitle }}</span>  | <a routerLink="/users/create">Create New</a> </h2>
		</div>
		<div id="content">
			<table class="table table-sm">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>User Name</th>
						<th>Phone</th>
						<th>Email</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let user of users">
					<td> {{user.ID }} </td>
					<td> {{user.FirstName }} {{ user.LastName }} </td>
					<td> {{user.UserName }} </td>
					<td> {{user.Phone }} </td>
					<td> {{user.Email }} </td>
					<td>
						<a routerLink="/users/detail/{{user.ID}}">Detail</a> | 
						<a routerLink="/users/edit/{{user.ID}}">Edit</a>
					</td>
					</tr>
			</tbody>
		</table>
	</div>
</div>
