<div id="component">
		<div id="pagetitle">
			<span> {{ pagetitle }} </span>
		</div>
		<div id="content" *ngIf="user">
			<div class="form-group row">
			<label class ='col-form-label col-sm-2' for="userfirstname">FirstName:</label>
			<input [(ngModel)]='user.FirstName' name ='FirstName' type="text" class="form-control col-sm-6" id="userfirstname" aria-describedby="FirstNameHelp" placeholder= "First Name">
			<small id="FirstNameHelp" class="form-text text-mute col-sm-2">The first name</small>
	</div>
		<div class="form-group row">
			<label class ='col-form-label col-sm-2' for="userlastname">LastName:</label>
			<input [(ngModel)]='user.LastName' name ='LastName' type="text" class="form-control col-sm-6" id="userlastname" aria-describedby="LastNameHelp" placeholder= "Last Name">
			<small id="LastNameHelp" class="form-text text-mute col-sm-2">The last name</small>
	</div>
		<div class="form-group row">
			<label class ='col-form-label col-sm-2' for="userusername">UserName:</label>
			<input [(ngModel)]='user.UserName' name ='UserName' type="text" class="form-control col-sm-6" id="userusername" aria-describedby="UserNameHelp" placeholder= "UserName">
			<small id="UserNameHelp" class="form-text text-mute col-sm-2">The username</small>
	</div>
			<div class="form-group row">
			<label class ='col-form-label col-sm-2' for="userpassword">Password:</label>
			<input [(ngModel)]='user.Password' name ='Password' type="password" class="form-control col-sm-6" id="userpassword" aria-describedby="PasswordHelp" placeholder= "hunter2">
			<small id="PasswordHelp" class="form-text text-mute col-sm-2">The password</small>
	</div>
		<div class="form-group row">
			<label class ='col-form-label col-sm-2' for="userphone">Phone:</label>
			<input [(ngModel)]='user.Phone' name ='Phone' type="text" class="form-control col-sm-6" id="userphone" aria-describedby="PhoneHelp" placeholder= "Phone">
			<small id="PhoneHelp" class="form-text text-mute col-sm-2">The phone</small>
	</div>
		<div class="form-group row">
			<label class ='col-form-label col-sm-2' for="useremail">Email:</label>
			<input [(ngModel)]='user.Email' name ='Email' type="text" class="form-control col-sm-6" id="useremail" aria-describedby="emailHelp" placeholder= "Email">
			<small id="emailHelp" class="form-text text-mute col-sm-2">The email</small>
	</div>
		<div class="form-group row">
			<label class ='col-form-label col-sm-2' for="useractive">Active:</label>
			<input [(ngModel)]='user.Active' name ='Active' type="checkbox" class="form-control col-sm-6" id="useractive" aria-describedby="ActiveHelp" placeholder= "Active?">
			<small id="ActiveHelp" class="form-text text-mute col-sm-2">Active</small>
	</div>
		<div class="form-group row">
			<label class ='col-form-label col-sm-2' for="userisreviewer">IsReviewer:</label>
			<input [(ngModel)]='user.IsReviewer' name ='IsReviewer' type="checkbox" class="form-control col-sm-6" id="userisreviewer" aria-describedby="IsReviewerHelp" placeholder= "Is Reviewer?">
			<small id="IsReviewerHelp" class="form-text text-mute col-sm-2">Reviewer?</small>
		</div>
		<div class="form-group row">
			<label class ='col-form-label col-sm-2' for="userisadmin">IsAdmin:</label>
			<input [(ngModel)]='user.IsAdmin' name ='IsAdmin' type="checkbox" class="form-control col-sm-6" id="userisadmin" aria-describedby="IsAdminHelp" placeholder= "Is Admin?">
			<small id="IsAdminHelp" class="form-text text-mute col-sm-2">Admin?</small>
	</div>
	<div>
		<button (click)="create()" class="btn btn-warning"> Create </button>
	</div>
</div>
</div>
